<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="home">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!--
    <ion-tab-button tab="vendors">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Vendedores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customer">
      <ion-icon name="man-outline"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="sales">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Ventas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="product">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>