<ion-tabs>

  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="product">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vendors">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>vendors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sales">
      <ion-icon name="square"></ion-icon>
      <ion-label>Sales</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
